MyApplication2/.idea/
Android_Custom/.idea/
Android_Custom/gradle/
AliPayDemo/.idea/
Android_OCRDemo/.idea/
HelloWord/.idea/
Android_ListViewNotify/.idea/
Android_WePayDemo/.idea/compiler.xml
Android_WePayDemo/.idea/gradle.xml
Android_AIDLDemo/.idea/
Android_Demo/.idea/
Android_RecyclerviewTouch/.idea/
